<html>
    <body>
        <h1>Welcome to Makers BnB</h1>

        <label for="username">Username</label>
        <input type="text" name="username">

        <label for="email">Email</label>
        <input type="text" name="email">

        <label for="password">Password</label>
        <input type="text" name="password">

        <a href="/spaces">Log In</a>


    </body>
</html>
