<html>
    <head>
        <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
        <link href="<%= url('/home_style.css') %>" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <header>
            <div class="logo"><a href="/spaces"><img src="logo.png"></a></div>
            <div class="menu">
              <a href="/spaces">All Spaces</a>
            </div>
        </header>

        <div class="form-container-home">
          <h1 class="welcome">Welcome to MakersBnB</h1>
          <div class="container2">

              <h1 class="form-header">Log In</h1>

              <form action="/login" method="POST">
                <label for="email" class="form-label">Email</label>
                <div>
                  <input class="text-input" type="text" name="email">
                </div>
                <label for="password" class="form-label">Password</label>
                <div>
                  <input class="text-input" type="password" name="password">
                </div>

                <input type="submit" value="Log In" class="cta cta-home">
              </form>

              <p class="sign-up-question">Don't have an account? <a class="sign-up-link" href="/sign_up">Sign Up</a></p>
          </div>

        </div>

    </body>
</html>
