<html>
    <head>
        <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
    </head>

    <body>
    <div class="login-container">

            <img src="logo.png" alt ="Makers BnB" >

    
            <h1>Welcome to Makers BnB</h1>
            <div class="login-box">
                <div class="login-field-set">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="login-field">
                </div>
  
                <div class="login-field-set">
                    <label for="password">Password</label>
                    <input type="text" name="password" class="login-field">
                </div>
                <div class="hero login">   
                    <a href="/spaces">Log In</a>
                </div>
            </div> 
 
        </div>

    </body>
</html>
