<html>
  <head></head>
  <body>
    <a href="/">Log Out</a>
    <h1>Add a new space</h1>
    <form method="POST" action="/spaces">
        <div>
            <label>Space name</label>
            <input type ="text" name="name" />
        </div>
        <div>
            <label>Description</label>
            <input type ="text" name="description" />
        </div>
        <div>
            <label>Price</label>
            <input type ="float" name="price" />
        </div>
        <div>
            <label>Availability</label>
            <input type ="text" name="availability" />
        </div>

        <input type ="submit" />
    </form>

  </body>
</html>
