<html>
  <head>
    <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <header>
        <div class="logo"><a href="/spaces"><img src="logo.png"></a></div>
        <div class="menu">
          <a href="/">Log Out</a>
          <a href="/spaces">All Spaces</a>
        </div>
      </header>
  </body>
</html>
