<html>
    <body>
      <h1>Booking Confirmation</h1>

      <p>Username: <%= @booking.username %></p>
      <p>Space: <%= @space.name %></p>
      <p>Start Date: <%= @booking.start_date %></p>
      <p>End Date: <%= @booking.end_date %></p>

    </body>

</html
