<html>
  <head>
      <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
      <link href="<%= url('/sign_up_success_style.css') %>" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <header>
      <div class="logo"><a href="/spaces"><img src="logo.png"></a></div>
      <div class="menu">
        <a href="/spaces">All Spaces</a>
      </div>
    </header>

    <div class="container">

      <p>You have successfully signed up!</p>

      <div class="succes-button-container">
        <a class="success-button" href="/">Log In</a>
      </div>

    </div>

  </body>

</html>
