<html>


<head>
    <link href="<%= url('/styles_sign_up_err_emp.css') %>" rel="stylesheet" type="text/css" />
    <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
    
</head>

<body>

<header>
        <div class="logo"><a href="/spaces"><img src="logo.png" alt="Makersbnb logo"></div>
            <ul class="menu"></ul>
      </header>



  <div class="container">
  

  <p>Sign up failed, this username has already been used.</p>
  
  <p>Please try again with a different username or log in<p> 
  <br>
  <div class="button-container">

  <a href="/sign_up" class="cta">try again</a></p>
  <br>
  <p><a href="/" class="cta">log in</a></p>

    
</div>

</body>
</html>