<div class="container">

<head>
    <link href="<%= url('/styles_sign_up_err_emp.css') %>" rel="stylesheet" type="text/css" />
</head>

<header>
        <div class="logo"><img src="../logo.png" > </div>
        <div class="menu">
            
        </div>
 </header>


  <p>Sign up failed, this username has already been used.</p>
  <p>Please <a href="/sign_up">try again</a> with a different username.</p>
  <p>Or <a href="/login">log in</a>.</p>

</div>
