html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    box-sizing: border-box;   
}


a {
    text-decoration: none;
}

.menu a:hover {
    color: #F6494E;

}

.menu a:visited:hover {
    color: #F6494E;
}


.menu a:visited{
    color:rgb(60, 105, 194)
}

.spaces-card a:visited {
    color: rgb(60, 105, 194)
}


img {
    max-width: 100%;
    max-height: 100%;
}

.menu {
    align-self: center;
}

header {
    margin: 2% auto 0;
    max-width: 75%;
    display: flex;
    justify-content: space-between;
    height: 6vh;
}

.container {
    margin: 15% auto 0;
    max-width: 75%;
    text-align: center;
}

.hero {
    margin: 15% auto;
    max-width: 65%;
}

.hero a {
    background-color: #F6494E;
    padding: 3% 8%;
    color: white;
    border-radius: 5px;
}

.hero a:hover, .cta:hover {
    background-color: #ef7579;
}

.hero p {
    margin-bottom: 10%;
}

.spaces-card {
    border: 1px solid;
    margin: 5%;
}



.form-container {
    margin: 10% auto 0;
    width: 60%;
    max-width: 500px;
    text-align: center;

    display: flex;
    flex-direction: column;
}

.form-container > input {
    margin: .5em 0;
    height: 30px;

}

label {
    margin-top: 1em;
}


.hero.login {
    margin: 15% auto 10%;
}

.cta {
    background-color: #F6494E;
    padding: 3% 8%;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 3.5em;
}
